*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right top, #3b6fbc, #6b66b8, #8f5aad, #ab4d99, #bf4180);
}
.sq{
    background-color: rgba(188, 248, 218, 0.432);
    height: 100px;
    width: 100px;
    border:1px solid rgb(0, 0, 0);
    text-align: center;
    line-height: 100px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(23, 11, 90);

}
p,h2{
    margin-bottom: 10px;
    color: rgb(248, 248, 248);
}
.container
{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.blockWindow{
    background-color: rgba(0, 0, 255, 0.253);
    z-index: 10;
    height: 100%;
    width: 100%;
}
#restartbtn{
    height: 30px;
    width: 100px;
    margin-top: 30px;
    border-radius: 8px;
    border: none;
    background-color: rgb(223, 155, 9);
    font-weight: bolder;
}
.bw{
    position: absolute;
    top: 0;
    text-align: center;
}